
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
input {
  border: 0;
  padding: 0;
  background: transparent
}

        /* min kod */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
    /* header */

header {
    position: fixed;
    top: 0;
    height: 80px;
    background: #FFF;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E5E5E5;
}

.headerText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 0px 24px;
}

.StartStopslideshow {
    color: #7D7D7D;
    text-align: right;
    font-family: "Libre Baskerville";
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.929px;
 }
.StartStopslideshow a {
    text-decoration: none;
    color: #7D7D7D;
}

.StartStopslideshow a:hover {
    color: #000;
} 



    /* main  */

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0px 60px 0px;
}

.mainIndex {
    height: auto;
    margin: 80px 0px 0px 0px;
}


h2 {
color: #FFF;
font-family: "Libre Baskerville";
/* font-size: 24px; */

font-style: normal;
font-weight: 700;
line-height: normal;
}

h3 {
color: #FFF;
font-family: "Libre Baskerville";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.75;
padding-top: 7px;
}


.painting {
    font-size: clamp(4px, 4vw + 5px, 30px);
}

.painter {
    font-size: clamp(2px, 2vw + 15px, 15px);
}






    
    /* start Page */

        /* slide */



.slide {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    margin: 0px 20px;
    margin-top: 23px;
}

.imgWrapperIndex {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align gradient at the bottom */
    position: relative;
    width: 100%;
}


.slide a:active  .slideImg {
    cursor: pointer;  
    opacity: 0.5;    
}


.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.84)  100%);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60%;
    z-index: 1;      

}

.slideText {
    position: absolute;
    text-align: left;
    bottom: 33px;
    left: 32px;
    z-index: 2;
    width: 80%;
}

.paintingNameContainer {
    width: 100%;
}

.painterContainer {
    width: 100%;
}

.slideshow {
    margin: 0px;
}

.slideshow:last-child {
margin-bottom: 23px;
}

    /* SlideShow */



.imgContainer {
    margin-top: 25px;
    position: relative;
}

.imgContainer img {
    flex-shrink: 0;
    max-width: 90vw;
}

.viewImg {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 152px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    text-align: right;
    font-family: "Libre Baskerville";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.143px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.viewImg:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2522);
}

    /* view img */

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreenContainer {
    position: relative;
    width: 80vw; 
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.imgWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 60px;
}
.closeImg {
    position: absolute;
    top: -50px;
    right: 0px;
    color: #FFF;
    text-align: right;
    font-family: "Libre Baskerville";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    cursor: pointer;
    z-index: 10;
}
.closeImg:hover {
    opacity: 0.25;
}
    /* Not selectable items */
.notSelectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


 /* Next/prev buttons */
.arrowImg {
    position: relative;
    bottom: -20px;
}

.arrowRight {
    margin-left: 20px;
}

.fullscreenBtn {
    position: sticky;
    bottom: 0;
}

.disabled{
    opacity: 0.15;
    cursor: default;
}

.enabled:hover {
    cursor: pointer;
    opacity: 0.5;
}

a.disabled:hover {
 pointer-events: none;
}

a.prev, a.prev {
    outline: none; /* Removes the focus outline */
    text-decoration: none; /* Removes any text decoration (like underlines) */
    border: none; /* Just in case there is a border */
}
    /* gallery */

.galleryImg {
    width: 100%;
    max-height:90%;
    object-fit: contain;
}

.imgInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.artistContainer {
    background: #FFF;
    position: absolute;
    bottom: -50px;
    left: -1px;
    z-index: 1;     
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.artistContainer h2 {
    color: #000;
    font-family: "Libre Baskerville";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 120.833% */
    margin-top: 24px;
    width: 86%;
    padding-right: 10px;
}

.artistContainer h3 {
    color: #7D7D7D;
    font-family: "Libre Baskerville";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}

.artistContainer h3, .artistContainer h2 {
    margin-left: 24px;
}


.artistPic {
    position: absolute;
    width: 64px;
    flex-shrink: 0;
    margin-right: auto;
    margin-left: 20px;
    z-index: 2;
    margin-top: 51px;
    
}

.infoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 65px 24px 0px 24px;
    margin-top: 54px;
}


.year {
    color: #F3F3F3;
    text-align: right;
    font-family: "Libre Baskerville";
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 100% */
    z-index: 0;
    margin-top: -30px;
    margin-bottom: -30px;
    }



.infoText {
    
    color: #7D7D7D;
    font-family: "Libre Baskerville";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 200% */
    z-index: 2;
}

.goToSource {
    color: #7D7D7D;
    font-family: "Libre Baskerville";
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.929px;
    text-decoration: underline;
    margin-top: 70px;
    margin-bottom: 67px;
}

.goToSource:hover {
    color: #000;
    cursor: pointer;
}

.noscroll {
    overflow: hidden;
}


    /* footer */
    
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0px 24px;
    opacity: 0.97;
}


.footerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.paintingFooter {
    font-family: "Libre Baskerville";
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.painterFooter {
    font-family: "Libre Baskerville";
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    opacity: 0.7528;
}




        /* tablet */

        @media (min-width: 700px) {
            /* Header */
            header {
                height: 96px;
            }
            
            .StartStopslideshow {
                font-size: 12px;
                letter-spacing: 2.571px;
             }

            /* Index page */
            .slideshow {
                /* column-width: 200px; */
                column-count: 2;
                column-gap: 1em; 
                margin: 1em 1em;
            }
        
            .slide {
                width: 100%;
                display: block;
                margin-bottom: 1em;
            }
        
            .link {
                margin: 0px 0px;
                margin-top: 0px;
            }

            .painting {
                font-size: clamp(4px, 3vw + 5px, 30px);
            }
            
            .painter {
                font-size: clamp(2px, 1.5vw + 5px, 15px);
            }
            /* Gallery page */


            main {
                justify-content: flex-start;
                align-items: flex-start;
                margin: 100px 0px 60px 0px;
            } 
         
            .imgContainer {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 100vw;
                padding: 0px 40px;
                position: relative;
            }

            .imgContainer img {
                flex-shrink: 0;
            }

            .imgPainting {
                width: clamp(60px, 60vw, 580px);

            }

            .imgInfo {
                position: relative;
                width: 100%;
                justify-content: flex-end;
              }

            .artistContainer {
                position: absolute;
                top: -1px;
                bottom: auto;
                left: auto;
                right: 0px;
                z-index: 2;    
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 60vw;
            }

            .artistContainer h2 {
                
                font-size: 56px;
                line-height: 52px;
                /* width: 88%; */
            }

            .artistContainer h3 {
                font-size: 15px;
                margin-top: 24px;
                margin-bottom: 67px;
                
            }
            .artistContainer h2, .artistContainer h3 {
                margin-left: 45px;
                padding: 0px;
                margin-right: 0px;
            }

            
            .artistPic {
                width: 128px;
                flex-shrink: 0;
                margin-right: auto;
                margin-left: 30px;
                /* margin-top: 186px; */
                z-index: 2;
                position: relative;
                top: 0px;

            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                
            }

            .infoContainer {
                height: 100%;
                
            }

            .year {
                font-size: 200px;
                line-height: 150px;
                text-align: left;
                position: absolute;
                top: 0px;
                left: 40px;
                z-index: -1;
            }

            .breadTextSourceContainer {
                display: flex;
                flex-direction:  column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 60vw;
            }

            .goToSource {
                margin-top: 40px;
                margin-bottom: 67px;
            }

            .bigImgContainer {
                position: relative;
            }

             .viewImg {
                position: absolute;
                top: auto;
                bottom: 16px;
                left: 16px;  
            }

            
                /* footer */
                
            footer {
                height: 96px;
            }

            .paintingFooter {
                font-size: 18px;
            }

            .painterFooter {
                font-size: 13px;
                margin-top: 8px;
            }


        }


        /* desktop */

        @media (min-width: 1025px) {

            body {
                min-height: 100vh;
            }

            

            /* Index */
            .slideshow {
                column-count: 4;
                column-gap: 1em; 
                margin: 1em 1em;
            }
        
            .slide {
                width: 100%;
                display: block;
                margin-bottom: 1em;
            }
        
            .link {
                margin: 0px 0px;
                margin-top: 0px;
            }
            .painting {
                font-size: clamp(4px, 1vw + 5px, 30px);
            }
            
            .painter {
                font-size: clamp(2px, 1.5vw + 5px, 15px);
            }

            /* Gallery */
            
            #contentContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            main {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                max-width: 1500px;
                padding: 126px 40px;
                height: 100%;
                margin: 0px;
            }

            .imgContainer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 66%;
                padding: 0px;
                margin: 0px;
            }

          

            .bigImgContainer {
                display: flex;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 60%;
                height: 100%;
            }
            .imgContainer img {
                height: auto;
                max-width: 100%;
                position: relative;
            }

            .imgInfo {
                position: relative;  
                width: 40%;
                height: auto;
                justify-content: space-between;
            }

            .artistContainer {
                position: relative;
                top: -1px;
                bottom: auto;
                left: -80px;
                width: 100%;
                right: 0px;
                z-index: unset;    
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
            .artistContainer h2 {
                z-index: 1;
            }
            .artistContainer h3 {
                z-index: 1;
            }

            .artistPic { 
                width: 128px;
                margin-left: 20px;
                z-index: 2;
                position: relative;
                top: 0;
                right: 0;

          
            }
            .infoContainer {
                align-items: flex-start;
                margin-top: 0px;
                padding: 0px;
                width: 33%;
                align-self: center;
            }
            .info {
                flex-wrap: wrap;
            }

            .year {
                top: 0px;
                left: -130px;
                margin-top: 0px;
                margin-bottom: 0px;
                z-index: 0;
            }
            .breadTextSourceContainer {
                width: 100%;
                padding-top: 100px;
            }

            .goToSource {
                margin-bottom: 0px;
            }
        }
