
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
input {
  border: 0;
  padding: 0;
  background: transparent
}

        /* min kod */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
    /* header */

header {
    position: fixed;
    top: 0;
    height: 80px;
    background: #FFF;
    width: 100%;
    z-index: 3;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E5E5E5;
}

.headerText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 0px 24px;
}

.StartStopslideshow {
    color: #7D7D7D;
    text-align: right;
    font-family: "Libre Baskerville";
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.929px;
 }
.StartStopslideshow a {
    text-decoration: none;
    color: #7D7D7D;
}

.StartStopslideshow a:hover {
    color: #000;
} 



    /* main  */

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0px 60px 0px;
}

.mainIndex {
    height: auto;
    margin: 80px 0px 0px 0px;
}


h2 {
color: #FFF;
font-family: "Libre Baskerville";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h3 {
color: #FFF;
font-family: "Libre Baskerville";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.75;
padding-top: 7px;
}









    
    /* start Page */

        /* slide */



.slide {
    position: relative;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    margin: 0px 20px;
    margin-top: 23px;
}

.imgWrapperIndex {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align gradient at the bottom */
    position: relative;
    width: 100%;
}


.slide a:active  .slideImg {
    cursor: pointer;  
    opacity: 0.5;    
}


.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.84)  100%);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60%;
    z-index: 1;      

}

.slideText {
    position: absolute;
    text-align: left;
    bottom: 33px;
    left: 32px;
    z-index: 2;
}

.paintingNameContainer {
    width: 246px;
}

.painterContainer {
    width: 246px;
}

.slideshow:last-child {
margin-bottom: 23px;
}

    /* SlideShow */



.imgContainer {
    margin-top: 25px;
    position: relative;
}

.imgContainer img {
    flex-shrink: 0;
    max-width: 90vw;
}

.viewImg {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 152px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    text-align: right;
    font-family: "Libre Baskerville";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.143px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.viewImg:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2522);
}

.artistContainer {
    background: #FFF;
    position: absolute;
    bottom: -54px;
    left: 0;
    z-index: 1;     
    width: 70vw;
    height: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.artistContainer h2 {
    color: #000;
    font-family: "Libre Baskerville";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 120.833% */
}

.artistContainer h3 {
    color: #7D7D7D;
    font-family: "Libre Baskerville";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.artistContainer h3, .artistContainer h2 {
    margin-left: 24px;
}





    /* view img */

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreenContainer {
   position: relative;
   width: 80vw; 
    height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.imgWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 60px;
}
.closeImg {
    position: absolute;
    top: -50px;
    right: 0px;
    color: #FFF;
    text-align: right;
    font-family: "Libre Baskerville";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    cursor: pointer;
    z-index: 10;
}
.closeImg:hover {
    opacity: 0.25;
}
    /* Not selectable items */
.notSelectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


 /* Next/prev buttons */
.arrowImg {
    position: relative;
    bottom: -20px;
}

.arrowRight {
    margin-left: 20px;
}


.disabled{
    opacity: 0.15;
    cursor: default;
}

.enabled:hover {
    cursor: pointer;
    opacity: 0.5;
}

a.disabled:hover {
 pointer-events: none;
}

a.prev, a.prev {
    outline: none; /* Removes the focus outline */
    text-decoration: none; /* Removes any text decoration (like underlines) */
    border: none; /* Just in case there is a border */
}
    /* gallery */

.galleryImg {
    width: 100%;
    object-fit: contain;
}

.infoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px 24px 0px 24px;
    margin-top: 54px;
}
.artistPic {
    width: 12vw;
    flex-shrink: 0;
    margin-right: auto;
    margin-left: 40px;
    z-index: 2;
}

.year {
    color: #F3F3F3;
    text-align: right;
    font-family: "Libre Baskerville";
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 100% */
    z-index: 0;
    margin-top: -30px;
    margin-bottom: -30px;
    }



.infoText {
    
    color: #7D7D7D;
    font-family: "Libre Baskerville";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 200% */
    top: 118px;
    z-index: 2;
}

.goToSource {
    color: #7D7D7D;
    font-family: "Libre Baskerville";
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.929px;
    text-decoration: underline;
    margin-top: 70px;
    margin-bottom: 67px;
}

.goToSource:hover {
    color: #000;
    cursor: pointer;
}

.noscroll {
    overflow: hidden;
}


    /* footer */
    
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    opacity: 0.97;
    background-color: #333;
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0px 24px;
    opacity: 0.97;
}


.footerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.paintingFooter {
    font-family: "Libre Baskerville";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.painterFooter {
    font-family: "Libre Baskerville";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7528;
}




        /* tablet */

@media (min-width: 481px) {

}